# Database
DATABASE_URL=your-neon-db-connection-string

# Redis
UPSTASH_REDIS_REST_URL=your-upstash-url
UPSTASH_REDIS_REST_TOKEN=your-upstash-token

REDIS_FEED_SEEN_MAX_ITEMS=500

# Better Auth
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL=http://localhost:3000
COOKIE_CACHE_AGE=5m

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Cron
QSTASH_URL=https://*****.upstash.io
QSTASH_TOKEN=******
QSTASH_CURRENT_SIGNING_KEY=sig_...
QSTASH_NEXT_SIGNING_KEY=sig_...

# Rate Limiting
RATE_LIMIT_MAX=60
RATE_LIMIT_WINDOW=10s
AUTH_RATE_LIMIT_MAX=10
AUTH_RATE_LIMIT_WINDOW=10s

# General
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_EMAIL_RESEND_TIMEOUT=1m

# React Query
NEXT_PUBLIC_QUERY_CLIENT_DEFAULT_STALE_TIME=5m
NEXT_PUBLIC_QUERY_CLIENT_DEFAULT_GC_TIME=5m
NEXT_PUBLIC_QUERY_CLIENT_DEFAULT_MAX_RETRY_COUNT=1

# Resend
RESEND_API_KEY=your-resend-api-key

# S3 Cloudflare R2
CLOUDFLARE_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=