# Database
DATABASE_URL=your-neon-db-connection-string

# Better Auth
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL=http://localhost:3000
COOKIE_CACHE_AGE=5m

# General
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_VERIFICATION_EMAIL_RESEND_TIMEOUT=1m

# React Query
NEXT_PUBLIC_QUERY_CLIENT_DEFAULT_STALE_TIME=5m
NEXT_PUBLIC_QUERY_CLIENT_DEFAULT_GC_TIME=5m
NEXT_PUBLIC_QUERY_CLIENT_DEFAULT_MAX_RETRY_COUNT=1


# Resend
RESEND_API_KEY=your-resend-api-key